name: "tests"
on: [push, pull_request, workflow_dispatch]
concurrency:
  group: build-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cpu-ci:
    name: CPU unit tests and build
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Free additional space on runner
        run: ./.github/workflows/helpers/free_space_on_runner.sh

      - name: Install nix
        uses: cachix/install-nix-action@v25
        with:
          github_access_token: '${{ secrets.GITHUB_TOKEN }}'

      - uses: cachix/cachix-action@v14
        with:
          name: ff
          skipPush: true
          # authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: setup nix develop shell
        uses: nicknovitski/nix-develop@v1.1.0
        env:
          NIXPKGS_ALLOW_UNFREE: 1
        with:
          arguments: ".#ci --accept-flake-config"

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Regenerate all dtgen files
        run: |
          proj dtgen --force

      - name: Run cmake
        run: |
          proj cmake --dtgen-skip

      - name: Run build and tests
        run: |
          proj test --dtgen-skip -j$(nproc) --coverage --skip-gpu-tests

      - name: Upload code coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: main_coverage.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
          verbose: true

  gpu-ci:
    name: GPU unit tests
    # needs: cpu-ci
    runs-on:
      - runs-on
      - family=g4dn.xlarge
      - image=runs-on-gpu-pinned

    strategy:
      max-parallel: 1
      fail-fast: false

    steps:
      - name: checkout git repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      # - name: remove the module system
      #   run: | 
      #     rm /etc/profile.d/modules.sh

      - name: mount ephemeral drive to nix
        run: |
          sudo mkdir $HOME/nix && sudo mkdir /nix && sudo mount --bind $HOME/nix /nix

      # Note that this step is not only necessary to make space for the nix-provided
      # dependencies, but also to prevent contention between the nix-provided nccl and the
      # system-provided ones in the DL AMI
      - name: free additional space on runner
        run: ./.github/workflows/helpers/free_space_on_runner_gpu.sh

      - name: run nvidia-smi
        run: |
          nvidia-smi

      - name: show disk usage
        run: |
          du --all --human-readable --threshold 1G .[^.]* /* || true

      - name: install nix
        uses: cachix/install-nix-action@v25
        with:
          github_access_token: '${{ secrets.GITHUB_TOKEN }}'

      - uses: cachix/cachix-action@v14
        with:
          name: ff
          skipPush: true
          # authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: setup nix develop shell
        uses: lockshaw/nix-develop@116f24a2996eb68cfadddb5657b4b923e5f69ec5
        env:
          NIXPKGS_ALLOW_UNFREE: 1
        with:
          arguments: ".#gpu-ci --accept-flake-config --impure"

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: regenerate all dtgen files
        run: |
          proj dtgen --force

      - name: run cmake
        run: |
          proj cmake --dtgen-skip

      - name: build and run gpu tests
        run: |
          proj test --dtgen-skip -j$(nproc) --skip-build-cpu-tests
